
body{font-family: 'Roboto', sans-serif;

}


.header{
background-color: #E554731A;

}

.banner{
padding: 30px 30px 30px 150px;
display: flex;
align-items: center;}
.btn-primary{

    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: 0;
color: white;
font-size: 15px;
font-style: normal;
font-weight: 700;
padding: 10px 18px;
}
nav li{
    list-style: none;
}
.banner .profile-pic{
    width: 500px;
}
.section-title{
    text-align: center;
}
.section-discription{
    text-align: center;
}
#our-Featured-Flowers{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    
}
    
    

.line-first{
    align-content: center;
}

.skill-one{
width: 310px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    margin: 70px;
background: rgba(167, 33, 98, 0.15);

}

.skill-second{width: 310px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin: 24px;

text-align: center;

}
.skill-third{
    width: 310px;
    height: 475px;
    
    border-radius:  300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 70px;
    text-align: center;
}
.bottom{
    background-color: #E554731A;

}
.down{
    text-align: center;
    padding: 30px 30px 30px 150px;
display: flex;
align-items: center
}
.section-bar{text-align: center;

}
.section-bio{
    text-align: center;
}
.skill-boy{display: flex;

}
.skill-boy-one{width: 342px;
    height: 396px;
    flex-shrink: 0;

}
